/* ====== Variables=========*/
:root{
	--color-verde:#17d1ac;
	--titulo-text:#1c3548;
	--p-color:#4e4d4d;
}

body{
	margin:0px;
	padding: 0px;
	}

html{
	scroll-behavior: smooth;
	}
.container{
	max-width: 995px;
}

.color-progress{
	background:var(--color-verde);
}
/*========Efecto Escritura==========*/

.main-text h1 { 
	position: relative; 
	color:var(--titulo-text);
	font-size: 2.5em;
	background: #FFFFFF;

}

h1 span {
    position:absolute;
	background: #FFFFFF;
    right:0;
    width:0;
    border-left: 1px solid #000;
    animation: escribir 10s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

/*===============Navbar =======================*/

.logo{
	font-family: 'Berkshire Swash', cursive;
	font-size: 1.5rem;
	color: var(--titulo-text);
}
.logo span{color: var(--color-verde);}
a{
	text-decoration:none;
	
}

.header-bg{
	
	border-bottom: 1px solid rgba(58,58,58,0.03);
	box-shadow: 4px 1px 3px rgba(24,139,119,0.2);
}

 .nav-link  {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#585b5b;
	letter-spacing: 1px;
	margin: 0px 10px;
}
 
/*=============== Main Home =======================*/

.model img{
   width:100%;
	height:auto;
	object-fit: contain;
	margin-top: 50px;
}
.main-text h1{
	font-size: 3.2rem;
	color:var(--titulo-text);
	margin:0px 0px 10px 0px;
	line-height: 60px;
	margin-top: 70px;
}
.main-text p{
	color:var(--p-color);
	font-size: 1.2rem;
}

.portfolio-btn{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	font-size: 1.2rem;
	font-weight: bold;
	background-color:var(--color-verde);
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.portfolio-btn:hover{
	background-color:#11a185;
	transition: all ease 0.2s;
	color: var(--titulo-text);
}
/*======== About =========*/
#about{
	margin-top: 30px;
}

.perfi-img{
	width: 90%;
	height: auto;
	border-radius: 50%;
	border: 2px solid var(--color-verde);
	padding: 10px;
}
.about-text{
	box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
}
.about-text h2{
	font-size: 2rem;
	color:#1c3548;
	font-weight: 400;
}

.about-text p{
	font-size: 1.2rem;
	color:var(--p-color);
}

.about-text button:hover{
	background-color: #FFFFFF;
	transition: all ease 0.3s;
}

  
/*========= Skilss and school==========*/
#skills{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:90%;
	margin:auto auto 50px auto;
}
.progress-text {
	color:var(--titulo-text);
	font-size: 1.4rem;
}
.skill-text {
	width:400px;
	
	
}
/*.skill-img{
	width:600px;
	height: 600px;
}*/
.skill-img img{
	width:100%;
	height:auto;
	object-fit: contain;
}
.skill-heading span{
	color:var(--color-verde);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}
.skill-heading h2{
	color:var(--titulo-text);
	font-size: 2.1rem;
	margin:0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.s-box-container{
	margin-top: 30px;
}
.skill-box{
	display: flex;
	margin: 25px 0px;
}
.s-box-icon{
	margin-right:12px;
}
.s-box-icon i{
	width:50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	font-size: 1.5rem;
	color:var(--titulo-text);
}
.s-box-text strong{
	color:var(--titulo-text);
	margin: 0px;
	font-size: 1.5rem;
	font-weight: 600;
}
.s-box-text p{
	color:var(--p-color);
	font-size: 1.2rem;
}

/* ======= Proyect========*/
#recent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:30px 0px;
	flex-direction: column;
}
.recent-heading span,
.client-heading span{
	color:#36b7b5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.1rem;
}
.recent-heading h3,
.client-heading h3,
#contact h3{
	color:#1c3548;
	font-size: 3rem;
	margin: 0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.recent-img{
	margin:0px 40px;
}
.recent-img img{
	width:100%;
	height: 100%;
}
.recent-btn{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	font-size: 1.2rem;
	font-weight: bold;
	background-color:var(--color-verde);
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
 
.recent-btn:hover{
	background-color:#11a185;
	transition: all ease 0.2s;
	color: var(--titulo-text);
}
.recent-btn{
	width:190px;
	margin-top: -20px;
}
/*========= Footer ==========*/
#footer{
	/*background-image: url("img/flor.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size:cover;*/
	height: auto;
	margin-top: 80px;
	padding: 20px 0px;
}

.bg-footer{
	background: var(--color-verde);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
}

.footer-contact ul li span{
	font-size: 1.4rem;
	color:var(--titulo-text);
	margin: 0px 10px;
}
.footer-contact h5{
	color: var(--titulo-text);
}
.footer-contact h3{
	color:var(--titulo-text);
	border-bottom: 5px dotted #FFFFFF;
	margin-bottom: 10px;
}
.footer-contact a{
	color: var(--titulo-text);
}

/*========= My proyect ==========*/
#proyect{
	
	border-top: 1px solid rgba(58,58,58,0.03);
	border-bottom: 1px solid rgba(58,58,58,0.03);
	padding: 50px 0px;
	
}

.client-box {
    background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
}

.client-box p{
	color:var(--p-color);
	font-size: 1.2rem;
	
}

/*.client-box:hover{
	transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
    background-color: #23cdaf;
	transition: all ease 0.2s;
}*/

/*===========Media Quiere*/

@media only screen and (max-width: 700px){
    .skill-img img{
		display: none;
	}
} 
@media only screen and (max-width: 520px) {
    .main-text h1{
		
		font-size: 2.1rem;
		line-height: 50px;
	    margin-top: 60px;
		margin:0px 0px 20px 0px;
	}
	.recent-heading h3{
	font-size: 1.5rem;
	}
	.about-text h2{
		font-size: 1.4rem;
		
	}
	.about-text p{
		font-size: 1rem;
		
	}
}